<% if !!current_user && current_user.wannago?(hotspring) %>
  <% if params[:code].present? ||  @user.present? && current_user.id == @user.id %>
    <%= form_tag(relationship_path(hotspring.id), method: :delete) do %>
      <%= hidden_field_tag :hotspring_id, hotspring.id %>
      <%= hidden_field_tag :type, 'Wannago' %>
      <%= submit_tag '行きたいを解除', class: 'btn btn-success' %>
    <% end %>
  <% else %>
    <button class="btn btn-success disabled">行きたい</button>
  <% end %>
<% else %>
  <% if params[:code].present? ||  @user.present? &&  current_user.id == @user.id %>
    <%= form_tag(relationships_path) do %>
      <%= hidden_field_tag :hotspring_code, hotspring[:code] %>
      <%= hidden_field_tag :type, 'Wannago' %>
      <%= submit_tag '行きたい', class: 'btn btn-primary' %>
    <% end %>
  <% end %>
<% end %>