<div class="search">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="text-center">
        <%= form_for(hotsprings_path, method: :get, class: 'form-inline') do |f| %>
          <div class="form-group">
            <%= f.collection_select :prefecture, @prefecture_options, :id, :name, {prompt: "選択してください", selected: @seleceted_prefecture}, class: 'form-control'  %>
            <%= f.collection_select :city, @city_options, :id, :name, {selected: @seleceted_city}, class: 'form-control' %>
            <%= f.collection_select :district, @district_options, :id, :name, {selected: @seleceted_district}, class: 'form-control grayout', title: '選択不要の場合は選択できません' %>
            <%= f.select :squeezeCondition, options_for_select([["温泉かつ大浴場", "onsen,daiyoku"],["温泉あり",:onsen],["大浴場あり",:daiyoku]]), {selected: @selected_squeezeCondition}, class: "form-control" %>
            <%= f.submit '検索', class: 'btn btn-success btn-block' %>
          </div>
        <% end %>
      </div>      
    </div>
  </div>
</div>

<script>
    $('#_hotsprings_prefecture').change(function (){
    $.ajax({
      url: '<%= search_cities_hotsprings_path %>',
      type: 'POST',
      data: {
        prefecture_id: $(this).val(),
      }
    });
  });
  
  $('#_hotsprings_city').change(function(){
    $.ajax({
      url: '<%= search_districts_hotsprings_path %>',
      type: 'POST',
      data: {
        cities_id: $(this).val(),
      }
    });
  });
  
  $('#_hotsprings_district').click(function(){
    if ($('#_hotsprings_district').children().length === 0) {
      $(".grayout").css('background-color', 'lightgray');
    }
    if ($('#_hotsprings_district').children().length > 0) {
      $(".grayout").css('background-color', '#fff');
    }
  });

</script>

